body {
	background-color: #FFC0CB;
	width: 100%;
}

#wrapper {
	width: 400px;
	margin: 0 auto;
    font-style: italic;
	font-family: Tahoma;
}

h1 {
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

label {
	display: block;
	font-size: 0.8rem;
	margin: 5px;
}

.Prefered > label {
	display: inline-block;
}

.Prefered > input {
	width: 15px;
	margin: 0px;
}


.Prefered {
	width: 50%;
	float: right;
	font-size: 0.8rem;
    font-style: italic;
	margin: 5px;
}

main > div {
	display: inline-block;
	width: 48%;

}

.wide {
	width: 98%;
}

.small {
	display: inline-block;
	width: 31%;
}

input, select{
	width: 98%;
}

input[type="time"] {
	width: 45%;
}


.Sub {
    margin-top: 1%;
    width: 96.5%;
}

input[type="submit"] {
    float: right;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 49%;
}


